/* styles.css */

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 15px 0;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    background-color: #3498db;
    color: #fff;
    transition: 0.3s;
}



main {
    flex: 1; /* Permite que el contenido principal ocupe el espacio disponible */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* styles.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #333;
    color: #fff;
}

thead th, tbody td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody td:nth-child(2) {
    text-align: center;
    font-size: 20px;
}

tbody td:nth-child(3) {
    text-align: right;
    font-weight: bold;
}

tr td:first-child {
    font-weight: bold;
}

.category-icon {
    font-size: 20px;
    margin-right: 5px;
}



/* styles.css */


.date-section {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.date-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-info h3 {
    font-size: 18px;
    margin: 10px 0;
}

.date-section .total-egresos {
    color: #e74c3c; /* Rojo para egresos */
}

.date-section .total-ingresos {
    color: #27ae60; /* Verde para ingresos */
}

.date-section table {
    width: 100%;
    border-collapse: collapse;
}

.date-section tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.date-section tbody tr:nth-child(odd) {
    background-color: #fff;
}

.date-section .category-icon {
    font-size: 20px;
    margin-right: 5px;
}

.date-section td:nth-child(1) {
    text-align: left;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.date-section td:nth-child(2) {
    text-align: right;
    font-weight: bold;
}


.today-summary {
    margin-top: 10px;
    font-size: 16px;
}

.today-summary p {
    display: inline;
    margin-right: 20px;
}

.today-summary p:last-child {
    margin-right: 0;
}




/* expense html */

/* styles.css */
/* ... Estilos anteriores ... */

#expense-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#expense-form h3 {
    text-align: center;
    margin-bottom: 10px;
}

#expense-form label {
    display: block;
    margin-top: 10px;
}

#expense-form select,
#expense-form input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#expense-form input[type="radio"] {
    margin-right: 5px;
}

#expense-form button {
    display: block;
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}





/* styles.css */
/* ... Estilos anteriores ... */

/* Estilos para el formulario de presupuesto */
#budget-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#budget-form h3 {
    text-align: center;
    margin-bottom: 10px;
}

#budget-form label {
    display: block;
    margin-top: 10px;
}

#budget-form input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#budget-form button {
    display: block;
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para el indicador de progreso del presupuesto */
.budget-summary {
    margin-top: 20px;
    text-align: center;
}

.budget-progress {
    background-color: #3498db;
    height: 20px;
    width: 0; /* Se actualiza con CSS o manualmente según el presupuesto */
    border-radius: 3px;
    margin-bottom: 10px;
}

.budget-used {
    background-color: #e74c3c;
    height: 100%;
    border-radius: 3px;
}

.budget-remaining {
    font-size: 16px;
    font-weight: bold;
}


#budget-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#budget-link:hover {
    background-color: #2980b9;
}




.bill-yearly-report {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.bill-yearly-report th {
    background-color: #3498db;
    color: #fff;
    text-align: left;
    padding: 10px;
}

.bill-yearly-report td {
    border: 1px solid #ccc;
    padding: 10px;
}

.bill-yearly-report td:nth-child(2),
.bill-yearly-report td:nth-child(3),
.bill-yearly-report td:nth-child(4) {
    text-align: right;
}

.bill-yearly-report tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.bill-yearly-report tr:hover {
    background-color: #e0e0e0;
}



#filter-form {
    
   
text-align: center;
    margin-top: 20px;
}

#filter-form label {
    
   
font-weight: bold;
    margin-right: 10px;
}

#filter-form select {
    padding: 5px;
}

#filter-form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    
   
padding: 10px 20px;
    cursor: pointer;
}

#filter-form button:hover {
    background-color: #2874a6;
}





.category-list {
    list-style-type: none;
    padding: 0;
    margin: 28px;
}

.category-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.category-icon {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.edit-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
}

#add-category-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#add-category-button:hover, .edit-button:hover {
    background-color: #2874a6;
}





#add-category-form {
    max-width: 400px;
    margin: 0 auto;
}

#add-category-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#add-category-form input,
#add-category-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#add-category-form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#add-category-form button:hover {
    background-color: #2874a6;
}


/* Estilos para el listado de recordatorios */
.reminder-list {
    list-style-type: none;
    padding: 0;
}

.reminder-list li {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

.reminder-date, .reminder-time, .reminder-description {
    display: block;
    margin-bottom: 10px;
}

.edit-button, .delete-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
    background-color: #2874a6;
}

/* Estilos para el formulario de agregar recordatorio */
#add-reminder-form {
    max-width: 400px;
    margin: 0 auto;
}

#add-reminder-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#add-reminder-form input[type="date"],
#add-reminder-form input[type="time"],


#add-reminder-form textarea {
    
   
width: 100%;
    
   
padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#add-reminder-form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    
   
padding: 10px 20px;
    cursor: pointer;
}

#add-reminder-form button:hover {
    background-color: #2874a6;
}

/* Estilos para el botón "Agregar Recordatorio" */


#add-reminder-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#add-reminder-button:hover {
    background-color: #2874a6;
}



/* Estilos para las pestañas de gráficos (con apariencia de botones) */
.chart-tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 20px;
}

.chart-tabs li {
    margin-right: 10px;
}

.chart-tabs a {
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.chart-tabs a:hover {
    background-color: #2874a6;
}

/* Estilos para el contenido de gráficos */
.chart-content {

    margin-top: 20px;
}

/* Estilos para los gráficos de línea */
canvas {
    border: 1px solid #ccc;
    border-radius: 5px;
}